body {
    font-family: 'Comic Sans MS', cursive;
    color: #313131;
    /* padding: 20px; /* Add padding */ */
}

/* Style for the editor */
#plate-input {
    padding: 5px;
    white-space: pre-wrap;
}
/* Style for the button */
.custom-button {
    border: none;
    border-radius: 5px;

    aspect-ratio: 1; /* Make the button square */
    display: inline-flex;
    padding: 5px; /* Add padding */

    transition: background-color 0.3s; /* Smooth transition on hover */
}

/* Change background color on hover */
.custom-button:hover {
    background-color: #ccc; /* Lighter grey color on hover */
}

/* Custom bullet style */
.events-item ul {
    list-style-type: none; /* Remove default bullet */
    padding-left: 20px; /* Add some padding for spacing */
}

.events-item ul li:before {
    content: "";
    display: inline-block;
    width: 10px; /* Adjust size of the bullet */
    height: 10px; /* Adjust size of the bullet */
    border: 2px solid #333; /* Darker border color */
    border-radius: 50%; /* Make it a circle */
    margin-right: 10px; /* Add space between bullet and text */
}

/* Change bullet color based on indentation level */
.events-item ul li:before {
    background-color: rgba(var(--color1),0.2);
    border-color: rgb(var(--color1)); /* first level */
}
.events-item ul ul li:before {
    background-color: rgba(var(--color2),0.2);
    border-color: rgb(var(--color2)); /* second level */
}
.events-item ul ul ul li:before {
    background-color: rgba(var(--color3),0.2);
    border-color: rgb(var(--color3)); /* third level */
}
.events-item ul ul ul ul li:before {
    background-color: rgba(var(--color4),0.2);
    border-color: rgb(var(--color4)); /* fourth level */
}
.events-item ul ul ul ul ul li:before {
    background-color: rgba(var(--color5),0.2);
    border-color: rgb(var(--color5)); /* fifth level */
}

/* Change priority active color */
.dropdown-menu .dropdown-item:active {
    background-color: var(--bs-gray-500);
}

/* Change color of button when active */
.dropdown-menu .dropdown-item.active {
    background-color: var(--bs-gray-500);
}

/* Indentation color variables */
:root{
    --color1: 253, 138, 138;
    --color2: 255, 203, 203;
    --color3: 158, 161, 212;
    --color4: 168, 209, 209;
    --color5: 223, 235, 235;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Highlight for event priority & due */
.success-highlight{
    background-color: rgba(var(--bs-success-rgb), 0.2);
    color: var(--bs-success);
    padding: 0.1em 0.2em;
}
.warning-highlight{
    background-color: rgba(var(--bs-warning-rgb), 0.2);
    color: var(--bs-warning);
    padding: 0.1em 0.2em;
}
.danger-highlight{
    background-color: rgba(var(--bs-danger-rgb), 0.2);
    color: var(--bs-danger);
    padding: 0.1em 0.2em;
}
.black-highlight{
    background-color: rgba(0,0,0, 0.1);
    color: rgb(0,0,0);
    padding: 0.1em 0.2em;
}

.w-98 {
    width: 98% !important;
}
